.App{
  display: flex;
  width: 100%;
  justify-content: center;
  }
table {
  width: 660px;
  height: 250px;
}



table, td, th { 

  border: 2px solid black; 
padding: 10px;
} 
#collapseTable { 
  border-collapse: collapse; 
} 
#width{
  width: 220px;
}